{{> authHeader}}
    <div class="card-body login-card-body">
      <p class="login-box-msg">Forgot your password?</p>

      <form method="post" action="{{@adminUrl}}/forgot-password">
        <div class="mb-3">
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Email" aria-label="Email" name="email" value="{{@body.email}}">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          {{{  showError error "email"  }}}
        </div>

        <div class="row">
          <div class="col-4 offset-8">
            <button type="submit" class="btn btn-primary btn-block">Send</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <p class="mb-1">
        <a href="{{@adminUrl}}/login">Sign in</a>
      </p>
    </div>
    <!-- /.login-card-body -->
{{> authFooter}}